In [6]:
import numpy as np
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [8]:
data=[1,2,3,4,5,6]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [10]:
data=[['a',1],['b',2],['c',3],['d',4],['e',5],['f',6]]
df = pd.DataFrame(data,columns=['Name','Marks'])
print(df)

  Name  Marks
0    a      1
1    b      2
2    c      3
3    d      4
4    e      5
5    f      6

In [11]:
data=[['a',1],['b',2],['c',3],['d',4],['e',5],['f',6]]
df = pd.DataFrame(data,columns=['Name','Marks'],dtype=float)
print(df)

  Name  Marks
0    a    1.0
1    b    2.0
2    c    3.0
3    d    4.0
4    e    5.0
5    f    6.0

In [13]:
data=[['a',1],['b',2],['c',3],['d',4],['e',5],['f',6]]
df = pd.DataFrame(data,index=['r1','r2','r3','r4','r5','r6'],columns=['Name','Marks'],dtype=float)
print(df)

   Name  Marks
r1    a    1.0
r2    b    2.0
r3    c    3.0
r4    d    4.0
r5    e    5.0
r6    f    6.0

In [14]:
data = {'Name':['a','b','c','d','e'],'Marks':[80,82,84,86,89]}
df=pd.DataFrame(data)
df

  Name  Marks
0    a     80
1    b     82
2    c     84
3    d     86
4    e     89