In [2]:
import numpy as np
x = np.arange(15).reshape(3,5)
x

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [4]:
for i in np.nditer(x): #row based iteration
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [5]:
for i in np.nditer(x,order = 'F'): #column based iteration
    print(i)

0
5
10
1
6
11
2
7
12
3
8
13
4
9
14

In [7]:
y = np.arange(12)
y

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [8]:
np.split(y,4)

[array([0, 1, 2]), array([3, 4, 5]), array([6, 7, 8]), array([ 9, 10, 11])]

In [9]:
np.split(y,3)

[array([0, 1, 2, 3]), array([4, 5, 6, 7]), array([ 8,  9, 10, 11])]

In [11]:
np.split(y,2)

[array([0, 1, 2, 3, 4, 5]), array([ 6,  7,  8,  9, 10, 11])]

In [12]:
z = np.array([("France","India","USA","Japan"),("Paris","Delhi","Washhington","Tokyo")])
z

array([['France', 'India', 'USA', 'Japan'],
       ['Paris', 'Delhi', 'Washhington', 'Tokyo']], dtype='<U11')

In [15]:
p1,p2,p3,p4 = np.hsplit(z,4)
print(p1)
print(p2)
print(p3)
print(p4)

[['France']
 ['Paris']]
[['India']
 ['Delhi']]
[['USA']
 ['Washhington']]
[['Japan']
 ['Tokyo']]

In [16]:
p1,p2 = np.hsplit(z,2)
print(p1)
print(p2)

[['France' 'India']
 ['Paris' 'Delhi']]
[['USA' 'Japan']
 ['Washhington' 'Tokyo']]

In [17]:
a1,a2 = np.vsplit(z,2)
print(a1)
print(a2)

[['France' 'India' 'USA' 'Japan']]
[['Paris' 'Delhi' 'Washhington' 'Tokyo']]

In [18]:
a1,a2,a3,a4 = np.hsplit(z,4)
print(a1)
print(a2)
print(a3)
print(a4)

[['France']
 ['Paris']]
[['India']
 ['Delhi']]
[['USA']
 ['Washhington']]
[['Japan']
 ['Tokyo']]